<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shark Review</title>
</head>

<body>
  <div th:each="review: ${reviews}">
    <h1 th:text="${review.title}"></h1>
    <img th:src="${review.img}" alt="Shark" width="600" height="450" />
    <p th:text="${review.content}"></p>
    <p th:text="${review.ranking}"></p>
    <a href="http://localhost:8080/show-reviews">Back To Home</a>
  </div>
</body>

</html>
